* {
	text-align: center;
	color: #f6f6f6;
	font-family: "Roboto Mono", monospace;
	border: 0;
	padding: 0;
	margin: 0;
}

body {
	min-height: 400px;
	background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/tabela-classificacao-bg.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin: 15px;
}

table {
	border: 2px solid white;
	border-collapse: collapse;
	width: 90%;
}

th, tr, td {
	border: solid 1px white;
}

button {
	background-color: #063067;
	padding: 4px 8px 4px 8px;
	border-radius: 5px;
	margin: 2px;
	margin-bottom: 4px;
	cursor: pointer;
	outline: none;
	box-shadow: 0 2px #999;
}

button:hover{
	background-color: #0e53ad;
}
  
button:active {
	background-color: #031731;
	box-shadow: 0 1px #666;
	transform: translateY(1px);
}

.new-team{
	background-color: rgba(0, 0, 0, 0);
    height: 4vh;
    width: 30vw;
    border-radius: 12px;
    border: 1px solid #f1f1f1;
	margin: 10px 0 25px 0;
}